# COVID-19 Impact on digital learning - Learn Platform
This notebook is a complete solution for a Kaggle Data Analysis competition where the main goal is to understand what is the main state of digital learning (2020) and how this learning methodology is affected by district demographics, broadband access, and more factors.
## Thought process

## Import Statements
- Pandas -> Hi

In [88]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

## Exploring the engagement datasets

In [24]:
columns = ['time', 'lp_id', 'pct_access', 'engagement_index', 'district_id']

In [47]:
all_districts_engagement = pd.DataFrame(columns=columns)

In [48]:
engagement_data_path = 'dataset/engagement_data/'
all_districts_files = os.listdir(engagement_data_path)
for filename in all_districts_files:
    district_df = pd.read_csv(engagement_data_path + filename)
    district_df['district_id'] = int(filename[:-4])
    all_districts_engagement = pd.concat([all_districts_engagement,district_df])

In [59]:
n_rows = all_districts_engagement.shape[0]
for column in all_districts_engagement.columns:
    nans = all_districts_engagement[column].isna().sum()
    print(f'Nan values in {column.upper()} column are {nans}, which is {(nans/n_rows)*100:.2f}% of the total rows')

Nan values in TIME column are 0, which is 0.00% of the total rows
Nan values in LP_ID column are 541, which is 0.00% of the total rows
Nan values in PCT_ACCESS column are 13447, which is 0.06% of the total rows
Nan values in ENGAGEMENT_INDEX column are 5378409, which is 24.09% of the total rows
Nan values in DISTRICT_ID column are 0, which is 0.00% of the total rows

In [108]:
all_districts_engagement[all_districts_engagement["district_id"] == 9463]

              time    lp_id pct_access engagement_index district_id
0       2020-01-01  28504.0       0.07            10.81        9463
1       2020-01-01  94058.0        0.0              NaN        9463
2       2020-01-01  33562.0       0.02             1.44        9463
3       2020-01-01  55278.0        0.0              NaN        9463
4       2020-01-01  98001.0       0.01             0.72        9463
...            ...      ...        ...              ...         ...
175969  2020-12-31  69429.0        0.0              NaN        9463
175970  2020-12-31  70740.0       0.02              2.6        9463
175971  2020-12-31  31218.0       0.01             6.33        9463
175972  2020-12-31  35348.0        0.0              NaN        9463
175973  2020-12-31  84007.0        0.0              NaN        9463

[175974 rows x 5 columns]

In [103]:
all_districts_engagement['lp_id'].value_counts(dropna=False).head(10)

95731.0    78295
99916.0    77304
26488.0    76214
28504.0    75814
33185.0    73778
72758.0    72800
32213.0    72321
13496.0    71122
69827.0    70979
69863.0    70566
Name: lp_id, dtype: int64

In [99]:
all_districts_engagement.shape[0]

22324190

## Exploring the districts info dataset

In [109]:
districts_dataset = pd.read_csv("dataset/districts_info.csv")

In [112]:
districts_dataset.head(30)

,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw
0,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000["
1,2685,NaN,NaN,NaN,NaN,NaN,NaN
2,4921,Utah,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[6000, 8000["
3,3188,NaN,NaN,NaN,NaN,NaN,NaN
4,2238,NaN,NaN,NaN,NaN,NaN,NaN
5,5987,Wisconsin,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[10000, 12000["
6,3710,Utah,Suburb,"[0, 0.2[","[0.4, 0.6[","[0.18, 1[","[6000, 8000["
7,7177,North Carolina,Suburb,"[0.2, 0.4[","[0.2, 0.4[","[0.18, 1[","[8000, 10000["
8,9812,Utah,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[6000, 8000["
9,6584,North Carolina,Rural,"[0.4, 0.6[","[0.6, 0.8[","[0.18, 1[","[8000, 10000["
10,1044,Missouri,Suburb,"[0, 0.2[","[0, 0.2[",NaN,"[10000, 12000["
11,7457,Washington,City,"[0.4, 0.6[","[0.4, 0.6[","[0.18, 1[","[12000, 14000["
12,1904,Connecticut,Rural,"[0, 0.2[","[0, 0.2[","[0.18, 1[",NaN
13,5527,Massachusetts,Suburb,"[0, 0.2[",NaN,NaN,"[16000, 18000["
14,2257,New York,Rural,"[0, 0.2[","[0.2, 0.4[",NaN,"[20000, 22000["
15,7614,Utah,City,"[0.2, 0.4[","[0.2, 0.4[","[0.18, 1[","[8000, 10000["
16,4808,Indiana,City,"[0.8, 1[","[0.8, 1[","[0.18, 1[","[8000, 10000["
17,8515,NaN,NaN,NaN,NaN,NaN,NaN
18,1877,Illinois,Rural,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[12000, 14000["
19,2339,NaN,NaN,NaN,NaN,NaN,NaN
20,2779,Illinois,Rural,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[10000, 12000["
21,8328,Utah,Town,"[0, 0.2[","[0.4, 0.6[","[0.18, 1[","[10000, 12000["
22,8539,Connecticut,Suburb,"[0.2, 0.4[","[0.4, 0.6[","[0.18, 1[",NaN
23,9120,NaN,NaN,NaN,NaN,NaN,NaN
24,9043,Illinois,Suburb,"[0.8, 1[","[0.8, 1[","[0.18, 1[","[12000, 14000["
25,4666,NaN,NaN,NaN,NaN,NaN,NaN
26,1549,Virginia,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[10000, 12000["
27,4051,Missouri,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[10000, 12000["
28,7305,Massachusetts,Suburb,"[0, 0.2[",NaN,"[0.18, 1[","[14000, 16000["
29,1131,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
[14000, 16000[